<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="{{ app.request.getLocale() }}" dir="rtl">
<!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <title>سامانه مدیریت سنسورهای هوشمند شهری</title>
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta content="SmartCity team" name="author"/>
        <meta content="info@SmartCity.ir" name="email"/>

        {# {% image 'bundles/smartcitypanel/images/favicon.jpg' %}
            <link rel="icon" type="image/png" href="{{ asset_url }}" />
        {% endimage %} #}

    {% include 'SmartCityPanelBundle:Common:stylesheets.html.twig' %}

    {% stylesheets 'bundles/smartcitypanel/assets/pages/css/login.min.css'
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    </head>

    <body class="login">
            <!-- BEGIN LOGO -->
            <div class="logo text-center">
                <h3 class="font-grey-cararra">سامانه مدیریت سنسورهای هوشمند شهری</h3>
            </div>
            <!-- END LOGO -->

            <div class="content">
                <!-- BEGIN LOGIN FORM -->
                <form class="login-form" action="{{ path("panel_auth_login_check") }}" method="POST">
                    <h3 class="form-title font-green">{% trans from 'labels' %}label.login{% endtrans %}</h3>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    {% if error %}
                        <div class="alert alert-warning display-hide">
                            <button class="close" data-close="alert"></button>
                            <span>{{ error.messageKey|trans([], 'labels') }}</span>
                        </div>
                    {% endif %}

                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        <span>{% trans from 'labels' %}label.user_pass_empty{% endtrans %}</span>
                    </div>

                    <div class="form-group">
                        <label class="control-label visible-ie8 visible-ie9">{% trans from 'labels' %}label.username{% endtrans %}</label>
                        <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="{% trans from 'labels' %}label.username{% endtrans %}" name="_username" /> </div>

                    <div class="form-group">
                        <label class="control-label visible-ie8 visible-ie9">{% trans from 'labels' %}label.password{% endtrans %}</label>
                        <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="{% trans from 'labels' %}label.password{% endtrans %}" name="_password" /> </div>

                    <div class="form-actions" style="overflow: hidden">
                        {# <label class="checkbox rememberme">
                            <input type="checkbox" class="icheck" name="_remember_me" value="1"/> {% trans from 'labels' %}
                            label.remember_me{% endtrans %} 
                        </label> #}
                        <button type="submit" class="btn green-haze pull-right">
                            {% trans from 'labels' %}label.login{% endtrans %} <i class="m-icon-swapleft m-icon-white"></i>
                        </button>
                    </div>
                </form>
                <!-- END LOGIN FORM -->
            </div>
        </div>

    </body>

    {% include 'SmartCityPanelBundle:Common:javascripts.html.twig' %}
</html>