<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu page-header-fixed page-sidebar-menu-light " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
        {# <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="false" data-slide-speed="200">  #}
            {{ toolbox.menu('label.dashboard', 'Dashboard', path('panel_dashboard_index') ,'icon-home', false) }}
            {{ toolbox.end_menu(false) }}

                {{ toolbox.menu('label.user.management', 'Users', '', 'icon-user') }}
                    {{ toolbox.sub_menu('label.user.list', path('panel_user_index'),'fa fa-list') }}
                    {{ toolbox.sub_menu('label.role.list', path('panel_role_index'),'fa fa-lock') }}
                    {{ toolbox.sub_menu('label.actiongroup.list', path('panel_action_group_index'),'fa fa-flash') }}
                {{ toolbox.end_menu() }}

                {{ toolbox.menu('label.sensor.management', 'Sensor', 'javascript:;', 'icon-bulb') }}
                    {{ toolbox.sub_menu('label.sensor.map', path('panel_sensor_map'),'icon-map') }}
                {{ toolbox.end_menu(false) }}

                {# {% if app.user.hasRole('ROLE_SUPER_ADMIN') or app.user.hasRole('ROLE_ADMIN') %}  #}
                {# {% endif %} #}

        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->
