<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="false" data-slide-speed="200">
            <li class="sidebar-toggler-wrapper hide">

                <div class="sidebar-toggler">
                </div>
            </li>
            {# <li><br></li> #}
            {# <li class="sidebar-search-wrapper">
                <form class="sidebar-search " action="extra_search.html" method="POST">
                    <a href="javascript:;" class="remove">
                    <i class="icon-close"></i>
                    </a>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                        <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                        </span>
                    </div>
                </form>
            </li> #}
            
    {{ toolbox.menu('label.dashboard', 'Dashboard', path('panel_dashboard_index') ,'icon-home', false) }}
    {{ toolbox.end_menu(false) }}

    {{ toolbox.menu('label.user.management', 'Users', '#', 'icon-user') }}
        {{ toolbox.sub_menu('label.user.list', path('panel_user_index'),'fa fa-list') }}
        {{ toolbox.sub_menu('label.user.new', path('panel_user_new'),'fa fa-plus') }}
        {{ toolbox.sub_menu('label.role.list', path('panel_role_index'),'fa fa-lock') }}
        {{ toolbox.sub_menu('label.actiongroup.list', path('panel_action_group_index'),'fa fa-flash') }}
    {{ toolbox.end_menu() }}

    {{ toolbox.menu('label.monitoring', '', path('panel_monitoring_index'), 'icon-bar-chart', false) }}
    {{ toolbox.end_menu(false) }}

    {# {% if app.user.hasRole('ROLE_SUPER_ADMIN') or app.user.hasRole('ROLE_ADMIN') %}  #}
    {# {% endif %} #}

    
    {# {% endif %} #}
    
    

{# {{ toolbox.menu('label.system.settings', 'System','#', 'icon-settings') }} #}
    {# {{ toolbox.sub_menu('label.province.list', '#TODO','icon-map') }} #}
    {# {{ toolbox.sub_menu('label.city.list', '#TODO','icon-pointer') }} #}
{# {{ toolbox.end_menu() }} #}


            
        </ul>
    </div>
</div>

