{% extends 'SmartCityPanelBundle:Common:base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
   integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
   crossorigin=""/>

    {% stylesheets   
        'bundles/smartcitypanel/assets/global/plugins/Leaflet.markercluster-1.0.6/dist/MarkerCluster.css'
        'bundles/smartcitypanel/assets/global/plugins/Leaflet.markercluster-1.0.6/dist/MarkerCluster.Default.css'
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <style>
        
    </style>
{% endblock %}


{% block title %}
    {% trans from 'labels' %}label.sensor.map{% endtrans %}
{% endblock title %}

{% block body -%}

    {% set breadcrumbs_items = [
        ['label.sensor.map'|trans([], 'labels'), '#' ],
    ] %}

    <div class="page-bar">
        {{ toolbox.breadcrumbs(breadcrumbs_items) }}

        <div class="btn-group pull-left">
        </div>
    </div>
    
    <div id="sensormap"></div>
    <div class="row">
        {% set spec_data %}
            <div id="sensor-spec">
                <div class="row">
                    <div class="col-md-12">اطلاعات پس از انتخاب سنسور نمایش داده می شود.</div>
                </div>
            </div>
        {% endset %}

        {% set last_log_data %}
            <div id="sensor-latest-log">
                <div>اطلاعات پس از انتخاب سنسور نمایش داده می شود.</div>
            </div>
        {% endset %}
        
        {% set metric_value_data %}
            <div id="sensor-metric-value">
                <div id="sensor-metric-value-filters" class="filters">
                    <input type="hidden" name="sensorId">
                    
                    <div class="input-group">
                        <select name="func" class="form-control input-sm">
                            <option value="">عملگر</option>
                            <option value="min">کمترین</option>
                            <option value="max">بیشترین</option>
                            {# <option value="sum">مجموع</option> #}
                            <option value="avg">میانگین</option>
                        </select>
                    </div>
                    
                    <div class="input-group">
                        <select name="termName" class="form-control input-sm">
                            <option value="">مشخصه</option>
                        </select>
                    </div>

                    <div class="input-group">
                        <input id="metric-value-start-time" name="startTime" type="text" class="pdate form-control input-sm">
                        <input id="metric-value-start-time_alt" type="hidden">
                    </div>

                    <div class="input-group">
                        <input id="metric-value-end-time" name="endTime" type="text" class="pdate form-control input-sm">
                        <input id="metric-value-end-time_alt" type="hidden">
                    </div>

                    <div class="input-group">
                        <button id="sensor-metric-value-btn" class="btn btn-sm blue-hoki">نمایش</button>
                    </div>
                </div>
                
                <div class="result">اطلاعات پس از انتخاب سنسور و عملیات مورد نیاز نمایش داده می شود.</div>
            </div>
        {% endset %}

        {% set aggregation_log_data %}
            <div id="sensor-aggregation-log-filters" class="filters">
                <input type="hidden" name="sensorId">
                
                <div class="input-group">
                    <select name="func" class="form-control input-sm">
                        <option value="">عملگر</option>
                        <option value="min" selected>کمترین</option>
                        <option value="max">بیشترین</option>
                        {# <option value="sum">مجموع</option> #}
                        <option value="avg">میانگین</option>
                    </select>
                </div>
                
                <div class="input-group">
                    <select name="termName" class="form-control input-sm">
                        <option value="">مشخصه</option>
                        <option value="humidity" selected>رطوبت</option>
                        <option value="temperature">دما</option>
                    </select>
                </div>

                <div class="input-group">
                    <select name="timeRange" class="form-control input-sm">
                        <option value="">بازه زمانی</option>
                        <option value="DAY_SOFAR">از ابتدای روز</option>
                        <option value="WEEK_SOFAR">از ابتدای هفته</option>
                        <option value="MONTH_SOFAR">از ابتدای ماه</option>
                        <option value="YEAR_SOFAR">از ابتدای سال</option>
                    </select>
                </div>

                {# <div class="input-group">
                    <input id="aggregation-log-start-time" name="startTime" type="text" class="pdate form-control input-sm">
                    <input id="aggregation-log-start-time_alt" type="hidden">
                </div>

                <div class="input-group">
                    <input id="aggregation-log-end-time" name="endTime" type="text" class="pdate form-control input-sm">
                    <input id="aggregation-log-end-time_alt" type="hidden">
                </div> #}

                <div class="input-group">
                    <button id="sensor-aggregation-log-btn" class="btn btn-sm blue-hoki">نمایش</button>
                </div>
            </div>
            <canvas id="aggregation_log" width="400" height="300"></canvas>
        {% endset %}

        {{ toolbox.portlet('label.sensor.spec', '', spec_data, 6, '250px') }}
        {{ toolbox.portlet('label.sensor.last_state', '', last_log_data, 6, '250px') }}
        {{ toolbox.portlet('label.sensor.metric_value', '', metric_value_data, 6, '250px') }}
        {{ toolbox.portlet('label.sensor.statistics_on_chart', '', aggregation_log_data, 6, '250px') }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
   integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
   crossorigin=""></script>

    {% javascripts
        
        'bundles/smartcitypanel/assets/global/plugins/Leaflet.markercluster-1.0.6/dist/leaflet.markercluster.js'
        'bundles/smartcitypanel/assets/global/plugins/Chart.min.js'
        'bundles/smartcitypanel/assets/global/plugins/Leaflet.markercluster-1.0.6/dist/geohash.js'
        'bundles/smartcitypanel/js/Sensor.js'

        filter='?jsqueeze'
    %}
        <script src="{{ asset_url }}"></script>

    {% endjavascripts %}

{% endblock %}

{% block documentReady %}
    Sensor.init()
{% endblock %}