{% extends 'SmartCityPanelBundle:Common:base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
   integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
   crossorigin=""/>

    {% stylesheets   
        'bundles/smartcitypanel/assets/global/plugins/Leaflet.markercluster-1.0.6/dist/MarkerCluster.css'
        'bundles/smartcitypanel/assets/global/plugins/Leaflet.markercluster-1.0.6/dist/MarkerCluster.Default.css'
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <style>
        
    </style>
{% endblock %}


{% block title %}
    {% trans from 'labels' %}label.sensor.map{% endtrans %}
{% endblock title %}

{% block body -%}

    {% set breadcrumbs_items = [
        ['label.sensor.map'|trans([], 'labels'), '#' ],
    ] %}

    <div class="page-bar">
        {{ toolbox.breadcrumbs(breadcrumbs_items) }}

        <div class="btn-group pull-left">
        </div>
    </div>
    
    <div id="sensormap"></div>
    <div class="row">
        {% set spec_data %}
            <div id="spec-data">
                <div>اطلاعات پس از انتخاب سنسور نمایش داده می شود.</div>
            </div>
        {% endset %}

        {% set last_log_data %}
            <div id="latest-log">
                <div>اطلاعات پس از انتخاب سنسور نمایش داده می شود.</div>
            </div>
        {% endset %}
        {{ toolbox.portlet('label.sensor.spec', '', spec_data, 6, '250px') }}
        {{ toolbox.portlet('label.sensor.last_state', '', last_log_data, 6, '250px') }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
   integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
   crossorigin=""></script>

    {% javascripts
        
        'bundles/smartcitypanel/assets/global/plugins/Leaflet.markercluster-1.0.6/dist/leaflet.markercluster.js'
        'bundles/smartcitypanel/assets/global/plugins/Leaflet.markercluster-1.0.6/dist/geohash.js'
        'bundles/smartcitypanel/js/SensorMap.js'

        filter='?jsqueeze'
    %}
        <script src="{{ asset_url }}"></script>

    {% endjavascripts %}

{% endblock %}

{% block documentReady %}
    SensorMap.init()
{% endblock %}