{% extends 'SmartCityPanelBundle:Common:base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
   integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
   crossorigin=""/>

    {% stylesheets   
        'bundles/smartcitypanel/assets/global/plugins/Leaflet.markercluster-1.0.6/dist/MarkerCluster.css'
        'bundles/smartcitypanel/assets/global/plugins/Leaflet.markercluster-1.0.6/dist/MarkerCluster.Default.css'
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <style>
        #mapid { height: 400px; }
    </style>
{% endblock %}


{% block title %}
    {% trans from 'labels' %}label.monitoring{% endtrans %}
{% endblock title %}

{% block body -%}

    <div class="page-bar">
        
        {% set breadcrumbs_items = 
            [
                ['label.monitoring'|trans([], 'labels'), '#' ],
            ] 
        %}
        {{ toolbox.breadcrumbs(breadcrumbs_items) }}

        <div class="page-toolbar">
            <div class="btn-group pull-left">

            </div>
        </div>
    </div>

    <div id="mapid"></div>
    <div id="sensor-detail">
    
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
   integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
   crossorigin=""></script>

    {% javascripts
        
        'bundles/smartcitypanel/assets/global/plugins/Leaflet.markercluster-1.0.6/dist/leaflet.markercluster.js'
        'bundles/smartcitypanel/assets/global/plugins/Leaflet.markercluster-1.0.6/dist/geohash.js'
        'bundles/smartcitypanel/js/Monitoring.js'

        filter='?jsqueeze'
    %}
        <script src="{{ asset_url }}"></script>

    {% endjavascripts %}

{% endblock %}

{% block documentReady %}
    Monitoring.init()
{% endblock %}